@page "/counter"
@using Microsoft.FluentUI.AspNetCore.Components;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<FluentCard Width="400px" Height="250px">
    <h2>Hello Now</h2>
    <FluentButton Appearance="@Appearance.Accent">Click</FluentButton>
</FluentCard>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
